<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/show.css">
<body>
    <div class="main-container">
    
    <div class="listing-container">
        <h2><%= listing.title   %></h2>
        <div class="image-container">
            <img src="<%- listing.image %>" class="image-div">
        </div>
        <div >
    <ul class="item-details">
        <li><%= listing.description   %></li>
        <li>&#8377;     <%= listing.price.toLocaleString("en-IN")   %></li>
        <li><%= listing.location   %></li>
        <li><%= listing.country   %></li>
    </ul>
</div>
<div class="edit-delete">
    <a href="/listings/<%=listing._id%>/edit" id="edit">Edit</a>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button>Delete</button>
    </form>
</div>
<hr>
</div>
<div class="review-container">
    <h4>Leave a Review</h4>
    <form method="POST" action="/listings/<%= listing._id%>/reviews">
        <div class="rating">
            <label for="rating" id="label-rating">Rating</label>
            <input type="range" min="1" max="5" name="review[rating]" id="rating" >
        </div>
        <div class="comment">
            <label for="comment" id="label-rating">Comments</label>
            <textarea 
            name="review[comment]" 
            id="comment"
            cols="60"
            rows="5" required></textarea>  
        </div>
        <button id="comment-btn" type="submit">Submit</button>
    </form>
    <hr>
    <h2>All Reviews</h2>
    <div class="container1">
         <% for(review of listing.review) { %>
         <div class="card-container">
            <div>
           <p> <%= review.comment%> </p>
           <p> <%=review.rating %>Stars</p></div>
           <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
            <button id="review-delete-btn">Delete</button>
        </form>
        </div>
        
            <% } %>
       
    </div>
</div>
</div>
</body>

